section {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
div {
	width: 150px;
	height: 150px;
	background-color: orange;
	margin: 25px;
	text-align: center;
	display: table;
}
p {
	margin: 0;
	display: table-cell;
	vertical-align: middle;
}
.s01-border-radius {
	border-radius: 50%;
	background-color: yellow;
}
.s02-box-shadow {
	box-shadow: 2px 4px 4px #000;
	background-color: red;
}
.s03-text-shadow {
	font-size: 26px;
	text-shadow: 1px 2px 2px #888;
}
.s04-opacity {
	opacity: 0.75;
	background-color: blue;
}
.s05-linear-gradient {
	background: linear-gradient(to bottom, red, yellow);
}
.s06-radial-gradient {
	background: radial-gradient(aqua, blue);
}
.s07-translate:hover {
	transform: translate(20px, 20px);
}
.s08-rotate:hover {
	transform: rotate(15deg);
}
.s09-scale:hover{
	transform: scale(1.2);
}
.s10-skewX:hover{
	transform: skewX(45deg);
}
.s11-skewY:hover{
	transform: skewY(-15deg);
}
.s12-transitioncolor{
	transition-property: background-color;
	transition-duration: 1s;
	transition-timing-function: ease;
	transition-delay: 0s;
	/*transition: background-color 0.6s linear 0.1s;*/
}
.s12-transitioncolor:hover{
	background-color: blue;
}
.s13-transition-all {
	transition: all 0.2s ease-in-out 0s;
}
.s13-transition-all:hover {
	background-color: black;
	color: white;
}